@page
@model Assignment3.Pages.KitchenModel
@{
	ViewData["Title"] = "Kitchen";
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Kitchen.js"></script>

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h1 class="text-secondary pl-3">Kitchen page</h1>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="_input.Date"></label>
			<input class="form-control" type="date" data-val="true" asp-for="_input.Date" />
			<span asp-validation-for="_input.Date" class="text-danger"></span>
			<button type="submit" class="btn btn-primary">Godkend</button>
		</div>
	
	</div>
</form>

<table class="table table-active table-light table-striped table-responsive-sm">

	<thead>
		<tr>
			<th>Forventet antal gæster</th>
		</tr>
	</thead>
	<tbody">
		<tr>
			<td>Voksne:</td>
			<td>@Html.DisplayFor(x => x.ExpectedAdults)</td>
		</tr>
		<tr>
			<td>Børn:</td>
			<td>@Html.DisplayFor(x => x.ExpectedKids)</td>
		</tr>
		<tr>
			<td>Total antal:</td>
			<td>@Html.DisplayFor(x => x.ExpectedTotal)</td>
		</tr>
	</tbody>
</table>

<table class="table table-active table-light table-striped table-responsive-sm">

	<thead>
		<tr>
			<th>Gæster checket ind </th>
		</tr>
	</thead>
	<tbody">
		<tr>
			<td>Voksne checket ind:</td>
			<td>@Html.DisplayFor(x => x.CheckedInAdults)</td>
		</tr>
		<tr>
			<td>Børn checket ind:</td>
			<td>@Html.DisplayFor(x => x.CheckedInKids)</td>
		</tr>
		
	</tbody>
</table>


<table class="table table-active table-light table-striped table-responsive-sm">

	<thead>
		<tr>
			<th>Gæster ikke ind </th>
		</tr>
	</thead>
	<tbody">
		<tr>
			<td>Voksne ikke ind:</td>
			<td>@Html.DisplayFor(x => x.MissingAdults)</td>
		</tr>
		<tr>
			<td>Børn ikke ind:</td>
			<td>@Html.DisplayFor(x => x.MissingKids)</td>
		</tr>
		
	</tbody>
</table>


